<div [hidden]="loading" class="linear-spinner">
    <div class="indeterminate"></div>
</div>

<header>
    <div class="header__content content">
        <a class="header__logo" routerLink="/" accesskey="h"></a>
    </div>
</header>
<router-outlet></router-outlet>

<footer>
    <div class="footer__content content">
        <a class="footer__logo" routerLink="/"></a>
        <div class="footer__help">
            <h4 class="footer__help__title">Ficou com alguma dúvida?</h4>
            <a href="https://ajuda.telecineplay.com.br/" target="_blank" alt="Acesse nossa ajuda clicando aqui." class="footer__help__link" accesskey="a">Acesse nossa ajuda</a>
        </div>
    </div>
</footer>