header
    width: 100%
    background-color: rgba(61,61,77,.9)
    color: #fff
    .header__content
        margin: 0 30px
        padding: 20px 0
        text:
            align: center
        .header__logo
            display: inline-block
            width: 140px
            height: 47px
            background:
                image: url('/assets/img/logo.svg')
                repeat: no-repeat
                position: center
                size: contain

footer
    width: 100%
    background-color: rgba(61,61,77,.9)
    color: #fff
    .footer__content
        margin: 0 20px
        padding: 20px 0 10px
        text:
            align: center
        .footer__logo
            display: inline-block
            width: 120px
            height: 27px
            background:
                image: url('/assets/img/logo.svg')
                repeat: no-repeat
                position: center
                size: contain
        .footer__help
            width: 100%
            .footer__help__title
                margin:
                    top: 10px
                    bottom: 0
                color: #fff
                font:
                    size: 1em
                text:
                    transform: uppercase
            .footer__help__link
                color: #fff !important
                &:visited, &:visited, &:visited
                    color: #fff